<div class="product">
    <img [src]="product.image" alt="">
    <span class="name">{{ product.name }}</span>
    <div class="price-weight">
        <span class="price">{{ product.price }}p.</span>
    </div>

    <div class="description">
        {{ product.description }}
    </div>

    <div class="color">
        {{ product.color }}
    </div>

    <div class="cart-actions">
        <button>+</button>
        <input type="number">
        <button>-</button>
    </div>
    <div class="add-to-cart">
        <a hef="#">Добавить в корзину</a>
    </div>
</div>