<header>
    <div class="header_container">
        <div class="logoWrapper">
            <a href="#">
                <img
                    src="/src/assets/img/kisspng-cloakroom-coat-check-mark-clip-art-coat-hanger-5adc10fbd95fc1.4203122615243717078904.jpg">
            </a>
        </div>
        <nav class="header_navigation">
            <div class="nav-item">
                <a href="#">Shop</a>
            </div>
            <div class="nav-item">
                <a href="#">Меню</a>
            </div>
            <div class="nav-item">
                <a href="#">Новинки</a>
            </div>
            <div class="nav-item">
                <a href="#">Скидки до -70%</a>
            </div>
            <div class="nav-item">
                <a href="#">Корзина</a>
            </div>
        </nav>

        <div class="telWrapper">+7(911) 173-93-54</div>
        <div class="cartWrapper"></div>
    </div>
</header>