<header>
    <div class="header_container">
        <div class="logoWrapper">
        </div>
        <nav class="header_navigation">
            <div class="nav-item">
                Меню
            </div>
            <div class="nav-item">
                Новинки
            </div>
            <div class="nav-item">
                Верхняя одежда
            </div>
            <div class="nav-item">
                Доставка
            </div>
        </nav>

        <div class="telWrapper">+7(911) 173-93-54</div>
        <div class="cartWrapper"></div>
    </div>
</header>