<section>
    <div class="container">
        <h2>Товары:</h2>
    </div>
    <div class="products-container">
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
    </div>
</section>